<md-dialog ng-cloak class="modal-up">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content  ng-init="applyScroll()">
      <div class="md-dialog-content">
        <input type="hidden" ng-model="category.id">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="category.name">
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
          <label>Parent category</label>
          <md-select ng-model="category.parent_id">
            <md-option ng-repeat="parent_entity in categories" value="{{parent_entity.id}}">
              {{parent_entity.name}}
            </md-option>
          </md-select>
        </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="remove-entity" ng-click="removeCategory(category)" ng-if="action=='edit'">
        <i class="fa fa-trash"></i>
        <md-tooltip md-direction="bottom">
          Delete
        </md-tooltip>
      </md-button>
      <span flex></span>
      <div md-theme="teal-theme">
        <md-button class="md-raised" ng-click="cancel()">
          Cancel
        </md-button>
        <md-button class="md-raised md-primary" ng-click="save(category)">
          Save
        </md-button>
      </div>
    </md-dialog-actions>
  </form>
</md-dialog>
