<md-dialog ng-cloak class="modal-up">
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <md-input-container class="md-block" flex-gt-sm>
          <label>Name</label>
          <input ng-model="tag.name">
        </md-input-container>
        <input type="hidden" ng-model="tag.id">
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button class="remove-entity" ng-click="removeTag(tag)" ng-if="action=='edit'">
        <i class="fa fa-trash"></i>
        <md-tooltip md-direction="bottom">
          Delete
        </md-tooltip>
      </md-button>
      <span flex></span>
      <md-button class="md-raised" ng-click="cancel()">
        Cancel
      </md-button>
      <md-button class="md-raised md-primary" ng-click="save(tag)">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>