* {
  box-sizing: border-box;
  outline: none !important;
  &:before, &:after {
    box-sizing: border-box;
    outline: none !important;
  }
}

html {
  overflow-y: scroll;
}

body {
  background: #c1bdba;
  font-family: 'Titillium Web', sans-serif;
  line-height: auto;
  &.locked-scroll {
    overflow: hidden;
  }
  &.md-dialog-is-showing {
    top: 0 !important;
  }
}

header {
  z-index: 100;
}

.login-page .hidden-header {
  height: 64px;
}

a {
  text-decoration: none;
  color: #1ab188;
  -webkit-transition: .5s ease;
  transition: .5s ease;
  &:hover {
    color: #179b77;
  }
}

.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 40px;
  max-width: 600px;
  margin: 75px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.logo img {
  max-height: 24px;
}

.navbar-brand {
  height: auto;
  padding-left: 30px;
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 40px 0;
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  li a {
    display: block;
    text-decoration: none;
    padding: 15px;
    background: rgba(160, 179, 176, 0.25);
    color: #a0b3b0;
    font-size: 20px;
    float: left;
    width: 50%;
    text-align: center;
    cursor: pointer;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    &:hover {
      background: #179b77;
      color: #ffffff;
    }
  }
  .active a {
    background: #1ab188;
    color: #ffffff;
  }
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}

label {
  position: absolute;
  -webkit-transform: translateY(6px);
  transform: translateY(6px);
  left: 13px;
  color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.25s ease;
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 22px;
  .req {
    margin: 2px;
    color: #1ab188;
  }
  &.active {
    -webkit-transform: translateY(50px);
    transform: translateY(50px);
    left: 2px;
    font-size: 14px;
    .req {
      opacity: 0;
    }
  }
  &.highlight {
    color: #ffffff;
  }
}

input, textarea {
  font-size: 22px;
  display: block;
  width: 100%;
  height: 100%;
  padding: 5px 10px;
  background: none;
  background-image: none;
  border: none;
  border-bottom: 1px solid #6d7170;
  color: #ffffff;
  border-radius: 0;
  -webkit-transition: border-color .25s ease, box-shadow .25s ease;
  transition: border-color .25s ease, box-shadow .25s ease;
}

input:focus {
  outline: 0;
  border-color: #1ab188;
}

textarea {
  &:focus {
    outline: 0;
    border-color: #1ab188;
  }
  border: 2px solid #a0b3b0;
  resize: vertical;
}

.field-wrap {
  position: relative;
  margin-bottom: 40px;
}

.top-row {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  > div {
    float: left;
    width: 48%;
    margin-right: 4%;
    &:last-child {
      margin: 0;
    }
  }
}

.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 15px 0;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .1em;
  background: #1ab188;
  color: #ffffff;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  -webkit-appearance: none;
  &:hover, &:focus {
    background: #179b77;
  }
}

.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}

.login-page {
  background: #C1BDBA;
  #container {
    background: none;
  }
  footer {
    display: none;
  }
  .tab-content {
    border: none;
    padding: 0;
  }
  .error {
    text-align: right;
    color: #FF5B5B;
  }
  .mainbar {
    background: #1ab188;
  }
}

.fixed-header .main-menu {
  padding: 19px 20px;
}

.main-menu {
  &.active {
    width: 250px;
    text-align: left;
  }
  font-size: 24px;
  line-height: 30px;
  padding: 27px 30px;
  cursor: pointer;
  background: #4EA4EF;
  color: #fff;
  text-align: right;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  outline: none;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

.side-menu {
  md-sidenav {
    background: #212121;
    z-index: 200;
    position: fixed;
  }
  md-content {
    background: #212121;
  }
}

md-toolbar {
  background: #0D68B7 !important;
}

md-tooltip {
  z-index: 300;
  font-size: 10px !important;
}

.toolbar {
  position: fixed;
  top: 0;
}

.side-menu {
  .heading {
    font-size: 20px;
    line-height: 44px;
    border-bottom: 1px solid rgba(90, 90, 90, 0.48);
    padding: 0 12px;
    color: #888;
  }
  .list .item {
    padding: 7px 20px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    color: #888;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    margin: 0;
    &:hover {
      background: #4EA4EF;
      color: #f1f1f1;
      .action {
        display: block;
      }
    }
    .actions {
      display: none;
      position: absolute;
      right: 8px;
      top: 7px;
      > span {
        opacity: .8;
        margin-left: 6px;
      }
    }
    &:hover .actions {
      display: block;
    }
  }
}

.back-to-top:hover i {
  background-color: #57A8EF;
}

.grid-sizer, .grid-item {
  width: 32%;
}

.modal-up {
  .md-toolbar-tools h2 {
    color: #fff;
  }
  .remove-entity {
    font-size: 20px;
    color: #D82D2D;
  }
  .textarea {
    min-width: 700px;
  }
}

.md-dialog-container {
  z-index: 400;
}

.md-select-menu-container, .md-virtual-repeat-container.md-autocomplete-suggestions-container, .md-open-menu-container {
  z-index: 401;
}

md-select {
  margin-bottom: 24px !important;
  font-size: 20px;
}

md-autocomplete-wrap input {
  color: #757575;
}

.notes-content {
  min-height: 100vh;
  padding-top: 80px;
}

.bottom-actions {
  position: fixed;
  bottom: 10px;
  left: 10px;
  button {
    display: block;
    i {
      color: #fff;
    }
  }
}

.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  i {
    display: block;
    width: 36px;
    height: 36px;
    line-height: 36px;
    color: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    text-align: center;
    background-color: #444;
    transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }
}

.color-sample {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
  margin: 2px 15px 2px 0;
  text-align: center;
  i.fa {
    line-height: 30px;
    width: 30px;
    height: 30px;
    color: #fff;
    display: none;
  }
  &.selected i.fa {
    display: block;
  }
}

.text-edited {
  text-align: right;
  padding: 10px;
  font-style: italic;
  font-size: 13px;
}

.notes-list {
  md-card-actions button {
    font-size: 18px;
    margin: 0 !important;
  }
  .desc {
    cursor: pointer;
  }
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #212121;
  z-index: 99999999999;
}

.spinner {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
  -webkit-animation: rotatee 2.0s infinite linear;
  animation: rotatee 2.0s infinite linear;
}

.dot1 {
  background: #4EA4EF;
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: bouncee 2.0s infinite ease-in-out;
  animation: bouncee 2.0s infinite ease-in-out;
}

.dot2 {
  background: #4EA4EF;
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  border-radius: 100%;
  -webkit-animation: bouncee 2.0s infinite ease-in-out;
  animation: bouncee 2.0s infinite ease-in-out;
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotatee {
  100% {
    -webkit-transform: rotate(360deg);
  }
}


@keyframes rotatee {
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}


@-webkit-keyframes bouncee {
  0%, 100% {
    -webkit-transform: scale(0);
  }

  50% {
    -webkit-transform: scale(1);
  }
}


@keyframes bouncee {
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
