<div class="valign-wrapper login-page">
  <div class="valign">
    <div class="form card text-white z-depth-2">
      <h5 class="flow-text heading">Login into your account</h5>
      <div class="row">
        <form class="col s12" (ngSubmit)="authenticate()">
          <div class="row">
            <div class="input-field col s12">
              <i class="material-icons prefix">perm_identity</i>
              <input [(ngModel)]="username" name="username" id="username" type="text" class="validate">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <i class="material-icons prefix">lock_outline</i>
              <input [(ngModel)]="password" name="password" id="password" type="password" class="validate">
              <label for="password">Password</label>
              <div class="disclaimer">
                This site doesn't store your credentials.
              </div>
            </div>
          </div>
          <button type="submit" class="waves-effect waves-light btn-large stretched">Enter</button>
        </form>
      </div>
    </div>
  </div>
</div>
