<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

  <!-- Basic -->
  <title>Home</title>

  <!-- Define Charset -->
  <meta charset="utf-8">

  <!-- Responsive Metatag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Page Description and Author -->
  <meta name="description" content="Notes">
  <meta name="author" content="Andy">

  <!--(if target dev)><!-->
	<%var cssFiles = grunt.config('includes.css.header');
	for(var i = 0, len = cssFiles.length; i < len; i++) {print('<link type="text/css" rel="stylesheet" href="' + cssFiles[i] + '"/>\n\t');}%>
	<%var jsFiles = grunt.config('includes.js.header');
	for(var i = 0, len = jsFiles.length; i < len; i++) {print('<script type="text/javascript" src="' + jsFiles[i] + '"></script>\n\t');}%>
	<!--<!(endif)-->
	<!--(if target production)><!-->
	<link type="text/css" rel="stylesheet" href="assets/dist/css/styles.header.min.css"/>
	<script src="assets/dist/js/scripts.header.min.js"></script>
	<!--<!(endif)-->

  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body ng-app="notes" ng-controller="MainController" ng-class="bodyClass">
  <!-- Full Body Container -->
  {% verbatim %}
  <div id="container">

    <div id="loader" class="loaderh">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>

    <div class="hidden-header"></div>
    <md-toolbar md-scroll-shrink class="toolbar md-primary header-panel">
      <div class="md-toolbar-tools mainbar">
        <h2>
          <a class="navbar-brand logo" href="/">
            <img alt="" src="assets/images/notes-logo.png">
          </a>
        </h2>
        <span flex></span>

        <div ng-if="name!='login'">

          <!-- <md-menu md-offset="0 76" class="menu-filter">
            <md-button class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
              <i class="fa fa-filter"></i>
            </md-button>
            <md-menu-content width="4">
              <md-menu-item ng-repeat="tag in data.tags |
                filter:searchTerm">
                <md-checkbox ng-value="vegetable">{{tag.name}}</md-checkbox>
              </md-menu-item>
            </md-menu-content>
          </md-menu> -->

          <md-button class="md-icon-button" aria-label="More"  ng-click="toggleRight()">
            <i class="fa fa-th-list"></i>
          </md-button>

          <md-menu md-offset="0 73">
            <md-button class="md-button" ng-click="openMenu($mdOpenMenu, $event)">
              <i class="fa fa-user-o offset"></i> {{data.user.display_name}}
            </md-button>
            <md-menu-content width="4">
              <md-menu-item>
                <md-button disabled="disabled" ng-click="ctrl.checkVoicemail()">
                  <i class="fa fa-vcard-o offset"></i>
                  Edit Profile
                </md-button>
              </md-menu-item>
              <md-menu-divider></md-menu-divider>
              <md-menu-item>
                <md-button ng-click="logout()">
                  <i class="fa fa-unlock-alt offset"></i>
                  Logout
                </md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
        </div>
      </div>
    </md-toolbar>

    <div class="side-menu" ng-include src="'/assets/src/views/side_menu.html'"></div>
    <!-- End Header Section -->

    <div ng-view></div>

  </div>
  {% endverbatim %}
  <!-- End Full Body Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <div page-loader></div>

   <!--(if target dev)><!-->
	<%var cssFiles = grunt.config('includes.css.footer');
	for(var i = 0, len = cssFiles.length; i < len; i++) {print('<link type="text/css" rel="stylesheet" href="' + cssFiles[i] + '"/>\n\t');}%>
	<%var jsFiles = grunt.config('includes.js.footer');
	for(var i = 0, len = jsFiles.length; i < len; i++) {print('<script type="text/javascript" src="' + jsFiles[i] + '"></script>\n\t');}%>
	<!--<!(endif)-->
	<!--(if target production)><!-->
	<link type="text/css" rel="stylesheet" href="assets/dist/css/styles.footer.min.css"/>
	<script src="assets/dist/js/scripts.footer.min.js"></script>
	<!--<!(endif)-->

</body>

</html>
