<!doctype html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">

<head>

  <!-- Basic -->
  <title>Home</title>

  <!-- Define Charset -->
  <meta charset="utf-8">

  <!-- Responsive Metatag -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Page Description and Author -->
  <meta name="description" content="Notes">
  <meta name="author" content="Andy">

  <!--(if target dev)><!-->
	<%var cssFiles = grunt.config('includes.css.header');
	for(var i = 0, len = cssFiles.length; i < len; i++) {print('<link type="text/css" rel="stylesheet" href="' + cssFiles[i] + '"/>\n\t');}%>
	<%var jsFiles = grunt.config('includes.js.header');
	for(var i = 0, len = jsFiles.length; i < len; i++) {print('<script type="text/javascript" src="' + jsFiles[i] + '"></script>\n\t');}%>
	<!--<!(endif)-->
	<!--(if target production)><!-->
	<link href="assets/dist/css/styles.header.min.js"/>
	<script src="assets/dist/js/scripts.header.min.js"></script>
	<!--<!(endif)-->

  <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body ng-app="notes" ng-controller="MainController" ng-class="bodyClass">
  <!-- Full Body Container -->
  <div id="container">

    <div id="loader" class="loaderh">
      <div class="spinner">
        <div class="dot1"></div>
        <div class="dot2"></div>
      </div>
    </div>


    <!-- Start Header Section -->
    <div class="hidden-header"></div>
    <header class="clearfix">

      <!-- Start  Logo & Naviagtion  -->
      <div class="navbar navbar-default navbar-top">
        <div class="wrapper">
          <div class="navbar-header">
            <!-- Stat Toggle Nav Link For Mobiles -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <i class="fa fa-bars"></i>
            </button>
            <!-- End Toggle Nav Link For Mobiles -->
            <a class="navbar-brand logo" href="/">
              <img alt="" src="assets/theme/images/logo.png">
            </a>
          </div>
          <div class="pull-right main-menu" ng-click="toggleSideMenu()" ng-class="sideMenuState">
            {{user.first_name}}
          </div>
        </div>

      </div>
      <!-- End Header Logo & Naviagtion -->
    </header>
    <div class="side-menu" ng-include src="'/assets/src/views/side_menu.html'" ng-controller="SideMenuController" ng-class="sideMenuState"></div>
    <!-- End Header Section -->

    <div ng-view></div>

    <!-- Start Footer Section -->
    <footer>
      <div class="container">
        <div class="row footer-widgets">

          <!-- Start Contact Widget -->
          <div class="col-xs-12">
            <div class="footer-widget contact-widget">
              <h4 class="logo"><img src="assets/theme/images/logo-footer.png" class="img-responsive" alt="Footer Logo" /></h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur fugiat ut accusantium recusandae, ab facilis odio nam sed, architecto qui a labore hic consectetur ullam, ex magnam quaerat, eligendi quod incidunt ratione aspernatur reiciendis omnis nisi? Reiciendis iusto molestias consequuntur consectetur id, porro itaque explicabo voluptas optio, minus, quae delectus ea saepe in ex facere aut expedita voluptatum eaque repellendus libero non blanditiis accusamus nemo voluptatibus. Commodi enim, voluptatem est, culpa totam fuga officiis aliquid itaque architecto quaerat, vero praesentium reprehenderit nobis. Doloribus illum, tempore quasi ab dolorem explicabo velit rerum maxime hic quibusdam eaque architecto quaerat accusamus, aperiam suscipit.</p>
            </div>
          </div>
          <!-- .col-md-3 -->
          <!-- End Contact Widget -->


        </div>
        <!-- .row -->

        <!-- Start Copyright -->
        <div class="copyright-section">
          <div class="row">
            <div class="col-md-6">
              <p>&copy; 2016 - All Rights Reserved </p>
            </div>
            <!-- .col-md-6 -->
            <div class="col-md-6">
              <ul class="footer-nav">
                </li>
                <li><a href="#">Privacy Policy</a>
                </li>
                <li><a href="#">Contact</a>
                </li>
              </ul>
            </div>
            <!-- .col-md-6 -->
          </div>
          <!-- .row -->
        </div>
        <!-- End Copyright -->

      </div>
    </footer>
    <!-- End Footer Section -->


  </div>
  <!-- End Full Body Container -->

  <!-- Go To Top Link -->
  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <div page-loader></div>

   <!--(if target dev)><!-->
	<%var cssFiles = grunt.config('includes.css.footer');
	for(var i = 0, len = cssFiles.length; i < len; i++) {print('<link type="text/css" rel="stylesheet" href="' + cssFiles[i] + '"/>\n\t');}%>
	<%var jsFiles = grunt.config('includes.js.footer');
	for(var i = 0, len = jsFiles.length; i < len; i++) {print('<script type="text/javascript" src="' + jsFiles[i] + '"></script>\n\t');}%>
	<!--<!(endif)-->
	<!--(if target production)><!-->
	<link href="assets/dist/css/styles.footer.min.js"/>
	<script src="assets/dist/js/scripts.footer.min.js"></script>
	<!--<!(endif)-->

</body>

</html>