<md-content class="md-padding notes-content" layout-xs="column" layout="row">
  <div class='notes-list masonry' flex>
    <div class="grid-sizer"/>
    <div class="grid-item masonry-brick" ng-repeat="note in data.notes track by note.id" on-finish-render="data.notes">
      <md-card style="background-color: {{note.color.value}};">
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{note.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p class="desc" ng-click="noteAlert($event, $index, 'edit', note)">
            {{note.text}}
          </p>
        </md-card-content>
        <div class="text-edited">
          Edited: <span>{{note.date_modified | amDateFormat:'D MMM h:mma'}}</span>
        </div>
        <md-card-actions layout="row" layout-align="end center">
          <div class="tags-list">
            <div class="item" ng-repeat="tag in note.tags">{{tag.name}}</div>
          </div>
          <md-button class="md-icon-button" ng-click="noteAlert($event, $index, 'edit', note)">
            <i class="fa fa-pencil"></i>
            <md-tooltip md-direction="left">Edit</md-tooltip>
          </md-button>
          <md-button class="md-icon-button" ng-click="removeNote($event, $index, note)">
            <i class="fa fa-trash"></i>
            <md-tooltip md-direction="left">Remove</md-tooltip>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <div class="bottom-actions">
    <md-button aria-label="menu" class="md-fab md-primary add-note" ng-click="noteAlert($event, $index, 'add')">
      <i class="fa fa-plus"></i>
    </md-button>
  </div>
</md-content>
