<md-content class="md-padding" layout-xs="column" layout="row">
  <div class='notes-list' masonry='{ "transitionDuration" : "0.4s" , "itemSelector" : ".grid-item", "columnWidth" : ".grid-sizer", "percentPosition" : true}' flex>
    <div class="grid-sizer"/>
    <div class="grid-item" ng-repeat="note in notes track by note.id">
      <md-card>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">{{note.title}}</span>
          </md-card-title-text>
        </md-card-title>
        <md-card-content>
          <p>
            {{note.text}}
          </p>
        </md-card-content>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Favorite">
            <i class="fa fa-heart"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Settings">
            <i class="fa fa-navicon"></i>
          </md-button>
          <md-button class="md-icon-button" aria-label="Share">
            <i class="fa fa-share"></i>
          </md-button>
        </md-card-actions>
      </md-card>
    </div>
  </div>
</md-content>