<md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
  <md-toolbar class="md-theme-light md-warn">
    <h1 class="md-toolbar-tools">
      <md-button class="close-nav md-ink-ripple" ng-click="toggleRight()">
        Close
        <div class="pull-right"><i class="fa fa-chevron-right"></i></div>
      </md-button>
    </h1>
  </md-toolbar>
  <md-content ng-controller="SideMenuController">
		<div class="tags block">
			<div class="heading md-primary"><i class="fa fa-tag offset"></i> Tag</div>
			<div class="list">
				<div class="tag-list">
					<div class="item" ng-repeat="tag in data.tags">
						{{tag.name}}
						<span class="pull-right actions">
							<span class="edit">
								<i class="fa fa-pencil" ng-click="tagAlert($event, $index, 'edit', tag)"></i>
								<md-tooltip md-direction="left">Edit</md-tooltip>
							</span>
							<span class="delete">
								<i class="fa fa-trash" ng-click="removeTag($event, $index, tag)"></i>
								<md-tooltip md-direction="left">Remove</md-tooltip>
							</span>
						</span>
					</div>
				</div>
			</div>
      <md-button md-theme="teal-theme" class="md-warn md-raised pull-left" ng-click="tagAlert($event, $index, 'add')">Clear Filter</md-button>
      <md-button md-theme="teal-theme" class="md-primary md-raised pull-right" ng-click="tagAlert($event, $index, 'add')">Add</md-button>
		</div>
		<div class="categories block">
			<div class="heading"><i class="fa fa-link offset"></i> Category</div>
			<div class="list">
				<div class="category-list">
					<div class="item" ng-repeat="category in data.categories">
						{{category.name}}
						<span class="pull-right actions">
							<span class="edit">
								<i class="fa fa-pencil" ng-click="categoryAlert($event, $index, 'edit', category)"></i>
								<md-tooltip md-direction="left">Edit</md-tooltip>
							</span>
							<span class="delete">
								<i class="fa fa-trash" ng-click="removeCategory($event, $index, category)"></i>
								<md-tooltip md-direction="left">Remove</md-tooltip>
							</span>
						</span>
					</div>
				</div>
			</div>
      <md-button md-theme="teal-theme" class="md-primary md-raised pull-right" ng-click="categoryAlert($event, $index, 'add')">Add</md-button>
		</div>
	</div>
  </md-content>
</md-sidenav>
